body {
    margin: 0 auto;
    padding: 0;
    font-family: Arial, "Arial Unicode MS", System;
    font-size: 18px;
    text-align: center;
}

.error {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.fieldinputerror {
    border: solid 1px #FF0000 !important;
}

.fielderror {
    color: #FF0000;
    margin: 5px 0px 0px;
}

#header{
	background-color: #00239CFF;
	padding:15px;
}

#headertxt{
	color:white;
    font-size: 30px;
    vertical-align: middle;
    height: 38px;
}

.field{
    width: 100%;
    height: 70px;
}

.btnfield{
     width: 100%;
     height: 70px;
 }

.green {
    color: #66CC33;
}

body label {
    width: 100px;
    height: 50px;
    font-size: 20px;
    color: #808080;
    float: left;
    transform: translate(0, 15px);
    text-align:left;
}

.field input{
	width: 350px;
    height: 50px;
    font-size: 20px;
    background-color: white;
    border-style: none none solid none;
    border-width: 1px;
    border-color: #bbb;
    float: right;
}

#content {
    margin: 0 auto;
    padding: 30px 100px 30px 100px;
    width: 600px;
    background-color: #fafafa;
}

.redbutton{
	background-color: #E10600FF;
	color:white;
	padding:7px;
	font-size:18px;
    border-radius: 5px;
    margin-right: 5px;
    cursor: pointer;
}